* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --headerColor: #424c55;
  --backgroundColor: #f5fffa;
  --textColor: #f5fffa;
  --footerColor: #424c55;
  --gridColor: #3d2c2e;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {

  #wrapper{
      display: grid;
      max-width: 100vw;
      grid-template-areas:
      "header" "content" "footer";
  }

  #header{
      grid-area: "header";
      column-span: all;
      background-color: var(--headerColor);
      color: var(--textColor);
      text-align: center;
      height: 10vh;
      margin-bottom: 2vh
  }
  
  #content{
      grid-area: "content";
      display: grid;
      height: auto;
      background-color: var(--gridColor);
      grid-template-columns: 50vw 50vw;
  }

  #footer{
      grid-area: "footer";
      column-span: all;
      background-color: var(--footerColor);
      color: var(--footerColor);
      text-align: center;
      height: 10vh;
      margin-top: 2vh;
  }

  .topic {
      grid-column-start: 1;
      grid-column-end: span 2;
      height:5vh;
      background-color: var(--gridColor);
      text-align: center;
      justify-content: center;
      margin: 2vw;
  }
  
  .column-head.html, .column-head.css {
      text-align: center;
      background-color: var(--headerColor);
  }

  .html, .css {
      height: fit-content;
      min-height: 20%;
  }

  .html {
      background-color: var(--gridColor);
      padding: 2vh 5vw 2vh 5vw;
      margin-left: 2vw;
  }

  .css {
      background-color: var(--gridColor);
      padding: 2vh 5vw 2vh 5vw;
      margin-right: 2vw;
  }
}

#wrapper {
  display: grid;
  grid-gap: 1vh;
  grid-template-areas: "header"
  "content"
  "footer";
  background-color: var(--backgroundColor);
}

#header {
  grid-area: "header";
  background-color: var(--headerColor);
  font-size: 4rem;
  height: 9vh;
}

#content {
  grid-area: "content";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #eee;
}
.column-head {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  text-align: center;
}
.topic {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--gridColor);
  text-align: center;
  font-size: 6em;
}
.html {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--gridColor)
}
.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em;
  grid-auto-rows: 100px;
  grid-auto-rows: minmax(100px, auto);
}
.nested > div {
  background: #eee;
  text-align: left;
  color: black;
}

.nested > div:nth-child(odd) {
  background: #ddd;
}
.css {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--gridColor);
}

#footer {
  grid-area: "footer";
  background-color: var(--footerColor);
  font-size: 3.5rem;
  height: 15vh;
  width:100%;
  grid-template-columns: 1fr;
  }
}